<h2>Survey Designer</h2>

<form class="" action="/surveys" method="post">
  <label for="name">Survey name:</label>
  <input id="id" type="text" name="name">

  <button type="submit" name="button">Add New Survey</button>
</form>
